name: Build VM Disk Image

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
        fail-fast: false
        matrix:
          version:
            - 6.8
            - 6.9
            - 7.1
            - 7.2
            - 7.3
            - 7.4
            - 7.5
            - 7.6
            - 7.7

          architecture:
            - name: x86-64
              qemu: x86
              uname: amd64

            - name: arm64
              qemu: aarch64

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Dependencies
        run: |
          sudo apt update && \
          sudo apt install -y \
            curl \
            unzip \
            fdisk \
            dosfstools \
            rsync \
            curl \
            python3 \
            "qemu-system-$QEMU_ARCHITECTURE"

        env:
          QEMU_ARCHITECTURE: ${{ matrix.architecture.qemu }}

      - uses: hashicorp/setup-packer@main
        with:
          version: "1.7.1"

      - name: Install UEFI
        if: matrix.architecture.name == 'x86-64'
        run: |
          bash -c "sudo apt update
          sudo apt install ovmf

          cp /usr/share/ovmf/OVMF.fd resources/ovmf.fd"

      - name: Download QEMU UEFI
        if: matrix.architecture.name == 'arm64'
        run: curl -o resources/qemu_efi.fd -L https://releases.linaro.org/components/kernel/uefi-linaro/latest/release/qemu64/QEMU_EFI.fd

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: Build Image
        run: |
          PACKER_LOG=1 ./build.sh \
            '${{ matrix.version }}' \
            '${{ matrix.architecture.name }}' \
            -var 'headless=true' \
            -var 'readonly_boot_media=false'

      - name: Start Local HTTP Server
        run: python3 -m http.server 8080 --directory output &

      - name: Create File
        run: echo 'host to guest' > host_to_guest.txt

      - name: Test Image
        uses: cross-platform-actions/action@master
        with:
          operating_system: openbsd
          architecture: ${{ matrix.architecture.name }}
          version: '${{ matrix.version }}'
          image_url: http://localhost:8080/openbsd-${{ matrix.version }}-${{ matrix.architecture.name }}.qcow2
          shutdown_vm: false
          shell: bash
          run: |
            echo "uname -a = $(uname -a)"
            echo "uname -s = $(uname -s)"
            echo "uname -r = $(uname -r)"
            echo "uname -v = $(uname -v)"
            echo "uname -m = $(uname -m)"
            echo "uname -p = $(uname -p)"
            pwd
            echo $SHELL
            ls -lah
            whoami
            env | sort
            [ "`uname -s`" = 'OpenBSD' ]
            [ "`uname -r`" = '${{ matrix.version}}' ]
            [ "`uname -m`" = '${{ matrix.architecture.uname || matrix.architecture.name }}' ]
            [ "`pwd`" = '/home/runner/work/openbsd-builder/openbsd-builder' ]
            cat host_to_guest.txt | grep -q 'host to guest'
            echo 'guest to host' > guest_to_host.txt

      - name: Verify File Synchronization
        run: cat guest_to_host.txt | grep -q 'guest to host'

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          name: OpenBSD ${{ steps.version.outputs.VERSION }}
          draft: true
          files: output/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
